.rectangle {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 63px;
 }
 .frame2 {
    position: absolute;
    top: calc(50% - 95.59px);
    left: calc(50% - 100px);
    width: 200px;
    height: 63px;
 }
 .rectangle1 {
    position: absolute;
    width: 6.48%;
    top: 31px;
    right: 93.52%;
    left: 0%;
    background-color: var(--color-darkslategray);
    height: 1px;
 }
 .rectangle2 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 31px;
 }
 .email-me {
    position: absolute;
    width: 100%;
    top: 5px;
    left: 0%;
    letter-spacing: 0.25px;
    line-height: 20px;
    display: inline-block;
 }
 @media (max-width: 767px) {
   .email-me {
       font-size: 80%; /* Reduce font size by 30% for smaller screens */
   }
}
 .frame4 {
    position: absolute;
    width: 6.48%;
    top: 0.41px;
    right: 93.52%;
    left: 0%;
    height: 31px;
 }
 .rectangle3 {
    position: absolute;
    width: 100%;
    top: 37px;
    right: 0%;
    left: 0%;
    background-color: var(--color-darkslategray);
    height: 1px;
 }
 .rectangle4 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 29px;
 }
 .ethics {
    position: absolute;
    width: 100%;
    top: 4px;
    left: 0%;
    letter-spacing: 0.25px;
    line-height: 20px;
    display: inline-block;
 }
 .frame6 {
    position: absolute;
    width: 100.93%;
    top: 8.41px;
    right: -1.87%;
    left: 0.93%;
    height: 29px;
 }
 .rectangle5 {
    position: absolute;
    width: 89.72%;
    top: 68px;
    right: 10.28%;
    left: 0%;
    background-color: var(--color-darkslategray);
    height: 1px;
 }
 .frame7 {
    position: absolute;
    width: 89.72%;
    top: 39.41px;
    right: 9.35%;
    left: 0.93%;
    height: 29px;
 }
 .rectangle7 {
    position: absolute;
    width: 99.53%;
    top: 99px;
    right: 0.47%;
    left: 0%;
    background-color: var(--color-darkslategray);
    height: 1px;
 }
 .frame8 {
    position: absolute;
    width: 99.07%;
    top: 70.41px;
    right: 0%;
    left: 0.93%;
    height: 29px;
 }
 .frame5 {
    position: absolute;
    width: 4.95%;
    top: 0px;
    right: 0%;
    left: 95.05%;
    height: 102px;
 }
 .frame3 {
    position: absolute;
    width: 100%;
    top: 90px;
    right: 0%;
    left: 0%;
    height: 102px;
 }
 .frame1 {
    position: absolute;
    width: 90%;
    top: 41.59px;
    right: 5%;
    left: 5%;
    height: 192px;
 }
 .rectangle9 {
    position: absolute;
    width: 43.44%;
    top: 65px;
    right: 56.56%;
    left: 0%;
    background-color: var(--color-darkslategray);
    height: 1px;
 }
 .rectangle10 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 46px;
 }
 .accessibility {
    position: absolute;
    width: 54.92%;
    top: 0.41px;
    left: 0%;
    line-height: 44.4px;
    display: inline-block;
 }
 @media (max-width: 767px) {
   .accessibility {
       font-size: 60%; /* Reduce font size by 30% for smaller screens */
   }
}
   .statement {
    position: absolute;
    width: 45.08%;
    top: 0.41px;
    left: 54.92%;
    line-height: 44.4px;
    display: inline-block;
   }
   @media (max-width: 767px) {
      .statement {
          font-size: 60%; /* Reduce font size by 30% for smaller screens */
      }
   }
 .frame11 {
    position: absolute;
    width: 100%;
    top: -0.41px;
    right: 0%;
    left: 0%;
    height: 46px;
 }
 .frame10 {
    position: absolute;
    width: 43.44%;
    top: 19.41px;
    right: 56.56%;
    left: 0%;
    height: 46px;
 }
 .rectangle11 {
    position: absolute;
    width: 0.1%;
    top: 19.19px;
    right: 49.9%;
    left: 50%;
    background-color: var(--color-darkslategray);
    height: 578px;
 }
 .rectangle12 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 578px;
 }
 .approach {
    position: absolute;
    width: 23.08%;
    top: 9.03px;
    left: 0%;
    line-height: 26px;
    display: inline-block;
}
@media (max-width: 767px) {
   .approach {
       font-size: 60%; /* Reduce font size by 30% for smaller screens */
   }
}
 .i-am-committed {
    position: absolute;
    width: 98.37%;
    top: 57.03px;
    left: 0%;
    font-size: var(--font-size-mini);
    line-height: 22.5px;
    display: inline-block;
   }
   @media (max-width: 767px) {
      .i-am-committed {
          font-size: 50%; /* Reduce font size by 30% for smaller screens */
      }
   }
 .frame14 {
    position: absolute;
    width: 87.55%;
    top: 9.97px;
    right: 10.41%;
    left: 2.04%;
    height: 144px;
 }
 .standards-and-guidelines {
    position: absolute;
    width: 59.21%;
    top: 9.03px;
    left: 0%;
    line-height: 26px;
    display: inline-block;
   }
   @media (max-width: 767px) {
      .standards-and-guidelines {
          font-size: 60%; /* Reduce font size by 30% for smaller screens */
      }
   }
 .i-have-designed {
    position: absolute;
    width: 99.3%;
    top: 57.03px;
    left: 0%;
    font-size: var(--font-size-mini);
    line-height: 22.5px;
    display: inline-block;
   }
   @media (max-width: 767px) {
      .i-have-designed {
          font-size: 50%; /* Reduce font size by 40% for smaller screens */
      }
   }
 .frame15 {
    position: absolute;
    width: 87.55%;
    top: 165.97px;
    right: 10.41%;
    left: 2.04%;
    height: 188px;
 }
 .accessible-design {
    position: absolute;
    width: 42.42%;
    top: 9.03px;
    left: 0%;
    line-height: 26px;
    display: inline-block;
   }
   @media (max-width: 767px) {
      .accessible-design {
          font-size: 60%; /* Reduce font size by 30% for smaller screens */
      }
   }
 .i-have-taken {
    position: absolute;
    width: 98.14%;
    top: 57.03px;
    left: 0%;
    font-size: var(--font-size-mini);
    line-height: 22.5px;
    display: inline-block;
   }
   @media (max-width: 767px) {
      .i-have-taken {
          font-size: 50%; /* Reduce font size by 30% for smaller screens */
      }
   }
 .frame16 {
    position: absolute;
    width: 87.55%;
    top: 365.97px;
    right: 10.41%;
    left: 2.04%;
    height: 210px;
 }
 .frame13 {
    position: absolute;
    width: 50%;
    top: 19.22px;
    right: 50%;
    left: 0%;
    height: 578px;
 }
 .rectangle13 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 19px;
 }
 .frame19 {
    position: absolute;
    top: 101.03px;
    left: calc(50% - 51px);
    width: 189px;
    height: 19px;
 }
 .get-in-touch {
    margin: 0;
   }
   @media (max-width: 767px) {
      .get-in-touch {
          font-size: 80%; /* Reduce font size by 30% for smaller screens */
      }
   }
 .get-in-touch-container {
    position: absolute;
    width: 38.14%;
    top: 9.03px;
    left: 0%;
    line-height: 26px;
    display: inline-block;
   }
   @media (max-width: 767px) {
      .get-in-touch-container {
          font-size: 80%; /* Reduce font size by 30% for smaller screens */
      }
   }
 .i-recognize-the-container {
    position: absolute;
    width: 93.72%;
    top: 57.03px;
    left: 0%;
    font-size: var(--font-size-mini);
    line-height: 22.5px;
    display: inline-block;
   }
   @media (max-width: 767px) {
      .i-recognize-the-container {
          font-size: 60%; /* Reduce font size by 30% for smaller screens */
      }
   }
 .frame18 {
    position: absolute;
    width: 87.76%;
    top: 392px;
    right: 2.04%;
    left: 10.2%;
    height: 120px;
 }
 .keyboard-navigation-and-container {
    position: absolute;
    width: 79.3%;
    top: 10.03px;
    left: 0%;
    line-height: 26px;
    display: inline-block;
   }
   @media (max-width: 767px) {
      .keyboard-navigation-and-container {
          font-size: 80%; /* Reduce font size by 30% for smaller screens */
      }
   }
 .efforts-have-been-container {
    position: absolute;
    width: 108.84%;
    top: 83.03px;
    left: 0%;
    font-size: var(--font-size-mini);
    line-height: 22.5px;
    display: inline-block;
   }
   @media (max-width: 767px) {
      .efforts-have-been-container {
          font-size: 60%; /* Reduce font size by 30% for smaller screens */
      }
   }
 .frame20 {
    position: absolute;
    width: 87.76%;
    top: 10px;
    right: 2.04%;
    left: 10.2%;
    height: 214px;
 }
 .continuous-improvement {
    position: absolute;
    width: 59.07%;
    top: 9.03px;
    left: 0%;
    line-height: 26px;
    display: inline-block;
   }
   @media (max-width: 767px) {
      .continuous-improvement {
          font-size: 60%; /* Reduce font size by 30% for smaller screens */
      }
   }
 .our-dedication-to-container {
    position: absolute;
    width: 96.05%;
    top: 57.03px;
    left: 0%;
    font-size: var(--font-size-mini);
    line-height: 22.5px;
    display: inline-block;
   }
   @media (max-width: 767px) {
      .our-dedication-to-container {
          font-size: 80%; /* Reduce font size by 30% for smaller screens */
      }
   }
 .frame21 {
    position: absolute;
    width: 87.76%;
    top: 236px;
    right: 2.04%;
    left: 10.2%;
    height: 144px;
 }
 .frame17 {
    position: absolute;
    width: 50%;
    top: 19.19px;
    right: 0%;
    left: 50%;
    height: 578px;
 }
 .frame12 {
    position: absolute;
    width: 102.08%;
    top: 109.19px;
    right: -1.04%;
    left: -1.04%;
    height: 616.38px;
    font-size: var(--font-size-xl);
 }
 .frame9 {
    position: absolute;
    width: 80%;
    top: 269.59px;
    right: 10%;
    left: 10%;
    height: 725.56px;
    font-size: var(--font-size-18xl);
 }
 .rectangle15 {
    position: absolute;
    width: 99.86%;
    top: 31.16px;
    right: 0.07%;
    left: 0.07%;
    background-color: var(--color-darkslategray);
    height: 1px;
 }
 .frame23 {
    position: absolute;
    top: -0.16px;
    left: calc(50% - 91px);
    width: 182px;
    height: 31px;
 }
 .rectangle18 {
    position: absolute;
    width: 99.53%;
    top: 31.16px;
    right: 0.24%;
    left: 0.24%;
    background-color: var(--color-darkslategray);
    height: 1px;
 }
 .frame25 {
    position: absolute;
    top: 43.84px;
    left: calc(50% - 53px);
    width: 106px;
    height: 31px;
 }
 .rectangle20 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 80px;
 }
 .image-icon {
    position: absolute;
    width: 100%;
    top: calc(50% - 40px);
    right: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    height: 80px;
    object-fit: cover;
 }
 .frame27 {
    position: absolute;
    top: 87.84px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
 }
 .rectangle21 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    border-radius: 10px;
    height: 1393px;
 }
 .rectangle22 {
    position: absolute;
    top: 36.94px;
    left: calc(50% - 65.42px);
    background-color: var(--color-mediumspringgreen);
    width: 130.84px;
    height: 1.94px;
 }
 .rectangle23 {
    position: absolute;
    top: 68.75px;
    left: calc(50% - 65.42px);
    background-color: var(--color-mediumspringgreen);
    width: 130.84px;
    height: 1.94px;
 }
 .g-of-co {
    position: absolute;
    top: 8.84px;
    left: calc(50% - 59px);
    line-height: 17.25px;
    display: inline-block;
    width: 81px;
 }
 .view {
    position: absolute;
    top: 8.84px;
    left: calc(50% + 27px);
    font-size: var(--font-size-sm);
    line-height: 17.25px;
    display: inline-block;
    width: 34px;
 }
 .rectangle24 {
    position: absolute;
    top: 38.88px;
    left: calc(50% + 65.42px);
    background-color: var(--color-mediumspringgreen);
    width: 1.94px;
    height: 29.88px;
 }
 .rectangle25 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    border-radius: 0px var(--br-8xs-5) var(--br-8xs-5) 0px;
    background-color: var(--color-mediumspringgreen);
    height: 30px;
 }
 .website-carbon {
    position: absolute;
    top: 6px;
    left: calc(50% - 58.5px);
    line-height: 17.25px;
    display: inline-block;
    width: 114px;
 }
 .frame31 {
    position: absolute;
    top: 38.84px;
    left: calc(50% - 65px);
    width: 131px;
    height: 30px;
 }
 .div {
    position: absolute;
    top: 14.84px;
    left: calc(50% + 21px);
    font-size: 11px;
    display: inline-block;
    width: 6px;
 }
 .frame30 {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    height: 71.75px;
 }
 .cleaner-than-94 {
    position: absolute;
    top: 74.84px;
    left: calc(50% - 89px);
    line-height: 17.25px;
    color: var(--color-azure);
    display: inline-block;
    width: 182px;
 }
 .frame29 {
    position: absolute;
    width: 28.57%;
    top: 1281.16px;
    right: 0%;
    left: 71.43%;
    height: 111.75px;
 }
 .tshepiso-mal-1 {
    position: absolute;
    top: 18px;
    left: 458px;
    width: 287px;
    height: 159px;
    object-fit: cover;
 }
 .frame28 {
    position: absolute;
    top: -1103.16px;
    left: calc(50% - 600px);
    width: 700px;
    height: 1393px;
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--color-darkblue);
    font-family: var(--font-roboto);
 }
 .frame22 {
    position: absolute;
    width: 80%;
    top: 1103.16px;
    right: 10%;
    left: 10%;
    height: 328.55px;
 }
 .frame {
    position: relative;
    background-color: var(--color-azure);
    width: 100%;
    height: 1432px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-darkslategray);
    font-family: var(--font-plus-jakarta-sans);
 }
 
 
 